{% extends "layout.html" %}


{%- block document %}
      <div class="documentwrapper">
      {%- if not embedded %}{% if not theme_nosidebar|tobool %}
        <div class="bodywrapper">
      {%- endif %}{% endif %}
          <div class="body">
            {% block body %} {% endblock %}



          </div>
      {%- if not embedded %}{% if not theme_nosidebar|tobool %}
        </div>
      {%- endif %}{% endif %}
      </div>
{%- endblock %}



{%- block footer %}


<script type="text/javascript" src="http://intropy.disqus.com/combination_widget.js?num_items=5&hide_mods=0&color=blue&default_tab=people&excerpt_length=200"></script><a href="http://disqus.com/">Powered by Disqus</a>

{%- endblock %}
